


    html {

        background-color: rgb(255,255,255) ;
        /*background-image: url(design.jpg);*/
        /*background-attachment: fixed;*/
        background-repeat: no-repeat;
        background-size: cover;

      

    }

.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background: rgb(90,127,162);
}
 
.menu {
    width:1000px;
    margin:0px auto;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Titillium Web';
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
    text-decoration: none;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background: rgb(90,127,162);
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:rgb(90,127,162);
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:rgb(90,127,162);
}



/*a:link {
    text-decoration: none;
    color: red;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
  
*/

body {

        font-family: 'Titillium Web';
  		font-style: normal;
  		font-weight: 200;
		width: 99%;
		margin: auto; /*auto*/
		text-align: center; /*justify;*/
		color: rgb(51,51,51); /*#572309;*/
		background-color: rgb(255,255,255) ;
		padding: 0px;
		font-size: 20px;
		/*position: center; /*relative?*/
		/*border: solid 0px #71a291;*/
		/*left: 4%;*/
		overflow: auto;

    }

header {
		width: device-width;
		/*margin: -30px;*/
		background-color: white;
		height: 250px;
		text-align: center; /*justify?*/
		font-family: 'Titillium Web';
 		 font-style: normal;
 		 font-weight: 600;
		text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	 	/*border: solid 0px #ede5be;*/
		/*font-weight: lighter;*/


}



#content {

		margin: 0 auto;
		text-align: center;
		padding: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
   		 display: flex;
    	justify-content:center; 
    	display: -webkit-flex; /* Safari */
       -webkit-justify-content: center; /* Safari 6.1+ */


}





h1 {

    	color: rgb(0,170,145);
		font-family:  'Titillium Web';
		font-size: 80px;
		text-align: center;
		/*font-weight: bolder;*/
		padding: 0px;
		margin: 0px;

	

}



h2 {

        color:rgb(206,221,69);
		text-align: center;
		font-size: 40px;
		font-family: 'Titillium Web';
		padding: 0px;
		margin: 0px;

}

/*ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}
*/
/*
nav ul {

		list-style: none;
		/*padding-right: -10px;*/
		text-align: center;
		font-family:  'Titillium Web';
		background-color: rgb(0,138,203);
		font color: red;
		margin: 0px;
		padding-top: 10px;
        height: 60px;
        font-weight: bolder;
       
}
*/


/*nav ul li  {

		display: inline;
		/*margin-right: 5px;*/
		padding: 30px;
	
}

*/

p {

		text-align: center;
		width: 55%;
		line-height: 28px;
	    float: center;
   	
  		/*font-weight: bolder;*/
  		
}

footer {
		background: rgb(90,127,162);
		width: 100%;
		color: white;
		text-align: center;
		}
		/*================MEDIA!!!!==================*/
		
@media screen and (max-width: 478px) {
		
		body {
				font-size: 18px;
				text-align: left;
		}
		
		ul {
		position: static;
		display: none;
	}
		li {
		margin-bottom: 1px;
	}
		header {
				font-weight: 600;
				height: 150px;
				}
				
		h1 {
				font-size: 20px;
				}
	}
@media screen and (max-width: 740px) {

		header {
				font-weight: 600;
				height: 180px;
				}
				
		h1 {
				font-size: 30px;
				}
		h2 {
				font-size: 20px;
				}
		body {
				font-size: 18px;
				
		}
		#content	{
			
   		 	display: flex;
    		/*justify-content: space-around; */
    		display: -webkit-flex; /* Safari */
      		 -webkit-justify-content: space-around; /* Safari 6.1+ */
      		 }

				
		nav {
			width: 100%;
			margin-bottom: 10px;
			overflow: scroll;
			}
			
			ul {
		position: static;
		display: none;
	}
	
	li {
		margin-bottom: 1px;
	}
			
		nav ul {
			list-style: none;
			margin: 0 auto;
			padding: 0;
			}
			
		nav ul li {
			text-align: center;
			margin-left: 0 auto;
			width: 100%;
			display: block;
			}
			
			p {
			text-align: justify;
			width: 99%;
			}
		}

		
		

